.footer {
    color: #F8F8F8;
    margin-top: 150px;
    background: #253746;
    min-height: 195px;
    overflow: hidden;
}

.footer-logo {
    margin: 50px 0 0 50px;
    min-height: 100%;
    min-width: 200px;
}

.footer-nav {
    a {
     font-size: 14px;
    }
    font-family: $roboto;
    margin-top: 50px;
    margin-left: 100px;
    min-width: 209px;
    a:hover {
        text-decoration: none;
        color: $yellow;
    }
}

.footer-first-row {
  display: flex;
}


.footer-subscribe {
    margin-right: 50px;
}

.footer-text {
    margin-top: 50px;
    font-size: 14px!important;   
    color: #F8F8F8;
}

.footer-email {
    font-family: $roboto;
    font-size: 14px;
    background: none;
    border: 1px solid #EAF1F4;
    border-radius: 3px;
    width: 250px;
    padding-left: 10px;
    color: #fff;
}

.footer-btn {
    a {
      font-family: $arial;
      font-size: 14px;
      color: #fff;
    }
    cursor: pointer;
    margin-left: 20px;
    width: 130px;
    background: #14B3FB;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.footer-bg {
    margin-top: 20px;
    padding-top: 5px;
    color: #F8F8F8;
    background: #21303C;
}